{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- details -->
    <div id="input-main" class="container">
        <a type="button" class="btn btn-default" href="{% url 'detail' pk %}"
        ><i class="fa fa-reply"></i> back</a>
        <h2>EDIT</h2>
        <!-- edit form -->
        <form action="#" method="POST" class="form-horizontal">
            {% if error %}
                <div class="alert alert-dark" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <!-- name -->
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/category.js' %}"></script>

{% endblock %}