{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- login form -->
    <div id="login" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                {% if form.errors %}
                    <p>ユーザーID, パスワードが一致しません．</p>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <label>ユーザーID</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                    <label>パスワード</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                    <button type="submit" class="btn btn-primary">ログイン</button>
                </form>
            </div>
        </div>
        <div>
            <a type="button" class="btn btn-default" href="{% url 'account:register' %}"><i class="fa fa-user-plus"></i>&nbsp;Register
                Account</a>
        </div>
    </div>
{% endblock %}