{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- register form -->
    <div id="login" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Register Account</div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <label>ユーザーID</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                    <label>パスワード</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                    <label>パスワード(確認)</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                    <button type="submit">登録</button>
                </form>
            </div>
        </div>
        <div>
            <a type="button" class="btn btn-default" href="login.html"><i class="fa fa-reply"></i>&nbsp;Login page</a>
        </div>
    </div>
{% endblock %}